@font-face {
    font-family: Myriad-Hebrew;
    src: url('../fonts/myriad-hebrew.otf');
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: Myriad-Hebrew;
}

img {
    max-width: 100%;
}

p {margin: 0;}

h2 {
    font-size: 2em;
    font-weight: normal;
    line-height: 1.5em;
    padding: 20px;
    text-align: center;
    color: white;
}

#container {
    display: flex;
    justify-content: center;
    width: 1000px;
    background-color: #add2ed;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    /*height: 80vh;*/
    background: linear-gradient(to bottom, rgba(33,39,51,1) 0%,rgba(69,73,82,1) 73%,rgba(33,39,51,1) 100%)
}

.login-form {
    padding: 20px;
    text-align: center;
}
.login-form input , .login-form button {
    width: 90%;
    padding: 3px;
    margin: 5px;
    box-sizing: border-box;
}
.login-form input {
    padding: 12px;
    border-radius: 10px;
    /*border-bottom-style: none;*/
    border: 0;
}

.login-form button{
    border:1px solid #cb9b14; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:3em;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #eab92d; background-image: -webkit-gradient(linear, left top, left bottom, from(#eab92d), to(#c79810));
    background-image: -webkit-linear-gradient(top, #eab92d, #c79810);
    background-image: -moz-linear-gradient(top, #eab92d, #c79810);
    background-image: -ms-linear-gradient(top, #eab92d, #c79810);
    background-image: -o-linear-gradient(top, #eab92d, #c79810);
    background-image: linear-gradient(to bottom, #eab92d, #c79810);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#eab92d, endColorstr=#c79810);
}

.login-form button:hover{
    border:1px solid #a17b10;
    background-color: #cf9f15; background-image: -webkit-gradient(linear, left top, left bottom, from(#cf9f15), to(#98740c));
    background-image: -webkit-linear-gradient(top, #cf9f15, #98740c);
    background-image: -moz-linear-gradient(top, #cf9f15, #98740c);
    background-image: -ms-linear-gradient(top, #cf9f15, #98740c);
    background-image: -o-linear-gradient(top, #cf9f15, #98740c);
    background-image: linear-gradient(to bottom, #cf9f15, #98740c);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cf9f15, endColorstr=#98740c);
}

.image {
    flex: 1;
    /*background-image: url("../assets/desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;*/
}

.image .mobileimg, .mobiletitle {display: none;}

@media screen and (max-width: 720px) {
    #container {flex-direction: column;}
    .form {width: 100%; height: auto;}
}

@media screen and (max-width: 414px) {
    /*#container {flex-direction: column; width: 98%}*/
    .image .desktopimg, .desktoptitle {display: none;}
    .image .mobileimg, .mobiletitle {display: block;}
    /*.form {width: 100%; height: auto;}*/
    h2 {padding: 0; margin-bottom: 0;}
}
